ARCH=pc
CONFIG_NAME =Debug
ANDROID_PATH=/media/android/android-4.0.3_r1
SKIA_PATH=/root/win_work/skia
SKIA_OUT:=$(SKIA_PATH)/linux_out/$(CONFIG_NAME)/obj.target/gyp

ifeq ($(ARCH),pc)
CC = gcc
CPPC = g++
ASMC = nasm

LINKER = g++
ARLIB = ar
endif

ifeq ($(ARCH),arm)
CC=arm-linux-gcc 
CPPC=arm-linx-g++
LINKER=arm-linux-g++
ARLIB=arm-linux-ar
endif

ifeq ($(ARCH),android)
SKIA_PATH=$(ANDROID_PATH)/external/skia
ANDROID_BUILD_TOOL=$(ANDROID_PATH)/prebuilt/linux-x86/toolchain/arm-linux-androideabi-4.4.x/bin/arm-linux-androideabi-
CC=$(ANDROID_BUILD_TOOL)gcc -I$(ANDROID_PATH)/system/core/include   \
			-I$(ANDROID_PATH)/bionic/libc/arch-arm/include \
			-I$(ANDROID_PATH)/bionic/libc/include \
			-I$(ANDROID_PATH)/bionic/libc/kernel/common \
			-I$(ANDROID_PATH)/bionic/libc/kernel/arch-arm \
			-I$(ANDROID_PATH)/bionic/libm/include \
			-I$(ANDROID_PATH)/bionic/libm/include/arm \
			-DANDROID
CPPC=$(ANDROID_BUILD_TOOL)g++ -I$(ANDROID_PATH)/system/core/include   \
			-I$(ANDROID_PATH)/bionic/libc/arch-arm/include \
			-I$(ANDROID_PATH)/bionic/libc/include \
			-I$(ANDROID_PATH)/bionic/libc/kernel/common \
			-I$(ANDROID_PATH)/bionic/libc/kernel/arch-arm \
			-I$(ANDROID_PATH)/bionic/libm/include \
			-I$(ANDROID_PATH)/bionic/libm/include/arm \
			-I$(ANDROID_PATH)/bionic/libstdc++/include \
			-I$(ANDROID_PATH)/bionic \
			-I$(ANDROID_PATH)/external/stlport/stlport \
			-DANDROID 
LINKER=$(ANDROID_BUILD_TOOL)g++ -L$(ANDROID_PATH)/out/target/product/generic/obj/lib --sysroot=$(ANDROID_PATH)/out/target/product/generic/obj
ARLIB=$(ANDROID_BUILD_TOOL)ar
endif




ifeq ($(CONFIG_NAME),Debug)
MACRO_FLAGS := 
GLOBAL_CFLAGS :=-g3 
GLOBAL_CPPFLAGS :=-g3
GLOBAL_LFLAGS :=
else

endif


OUTPUT = /tmp/$(ProjectName)/$(CONFIG_NAME)/
TEMP_DIR = /tmp/$(ProjectName)/$(CONFIG_NAME)/$(ModuleName)/

