CC = gcc
CPPC = g++
ASMC = nasm

LINKER = g++
ARLIB = ar

CONFIG_NAME = Debug


ifeq ($(CONFIG_NAME),Debug)
MACRO_FLAGS := 
GLOBAL_CFLAGS :=-g3 
GLOBAL_CPPFLAGS :=-g3
GLOBAL_LFLAGS :=
else

endif


OUTPUT = /tmp/$(ProjectName)/$(CONFIG_NAME)/
TEMP_DIR = /tmp/$(ProjectName)/$(CONFIG_NAME)/$(ModuleName)/

